*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid salmon;
    border-radius: 20px;
    height: 300px;
    width: 230px;
    overflow: hidden;
}

#card1{
    transform: translate(-50%,-50%);
    z-index: 4;
}

#card2{
    z-index: 3;
    transform: translate(-50%,-50%);
    rotate: -7deg;
}

#card2:hover{
    z-index: 10;
}

#card3{
    z-index: 2;
    transform: translate(-50%,-50%);
    rotate: -14deg;
}

#card3:hover{
    z-index: 10;
}

#card4{
    z-index: 1;
    transform: translate(-50%,-50%);
    rotate: -21deg;
}

#card4:hover{
    z-index: 10;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
