*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Gill Sans';
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.shape{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    height: 200px;
    width: 200px;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#square:hover{
    background-color: red;
}

#circle{
    margin-left: 50px;
    border-radius: 50%;
}

#circle:hover{
    background-color: blue;
}

#diamond{
    margin-top: 50px;
    rotate: 45deg;
    width: 141.4px;
    height: 141.4px;
}

#diamond:hover{
    background-color: green;
}

#diamond h1{
    rotate: -45deg;
}